<o-form #VisitForm attr="Visit_form_insert" service="Visit" entity="Visit" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="interaction_id"
        service="Interaction" 
        entity="InteractionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;interaction_id;id" 
        title="interaction_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="place_id"
        service="Place" 
        entity="PlaceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;place_id;name" 
        title="place_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #visit_date attr="visit_date" type="timestamp" label="visit_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #score attr="score" label="score" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>