<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="User_form_edit" 
        service="User" 
        entity="User" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #date_of_birth attr="date_of_birth" type="date" label="date_of_birth" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #gender attr="gender" label="gender" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="FAVORITE-user_id">
    <div layout-padding>
      <o-table 
        attr="FavoriteTable" 
        service="Favorite" 
        entity="Favorite" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;candidate_id;user_id;notes;added_date"  
        horizontal-scroll="yes"
        detail-form-route="Favorite" 
        edit-form-route="Favorite"
        visible-columns="id;candidate_id;user_id;notes;added_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="candidate_id" title="candidate_id">
    <o-table-cell-renderer-service attr="candidate_id" 
        service="Candidate" entity="CandidateType" columns="id;name"
        parent-keys="id:candidate_id"
        value-column="name" keys="candidate_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;name"
        parent-keys="id:user_id"
        value-column="name" keys="user_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-date-input #added_date attr="added_date" type="timestamp" label="added_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="INTERACTION-user_id">
    <div layout-padding>
      <o-table 
        attr="InteractionTable" 
        service="Interaction" 
        entity="Interaction" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;candidate_id;user_id;interaction_date;online;notes"  
        horizontal-scroll="yes"
        detail-form-route="Interaction" 
        edit-form-route="Interaction"
        visible-columns="id;candidate_id;user_id;interaction_date;online;notes"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="candidate_id" title="candidate_id">
    <o-table-cell-renderer-service attr="candidate_id" 
        service="Candidate" entity="CandidateType" columns="id;name"
        parent-keys="id:candidate_id"
        value-column="name" keys="candidate_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;name"
        parent-keys="id:user_id"
        value-column="name" keys="user_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #interaction_date attr="interaction_date" type="timestamp" label="interaction_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #online attr="online" title="online" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>